<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student Registration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
        <a class="navbar-brand" style="font-size: 35px; font-weight: 600; color:#ff5c0b;" href="/"><img src="{% static 'images/Fido_logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a id="login_button" class="nav-link btn btn-lg" style="background-color: #ff5c0b; font-size: 25px; font-weight: 600; color: #fff;"tive"  href="/login">Log In<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='new_student_header'>
        <h1 id="s_new_h1">Welcome new student</h1>
    </div>      
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="student_register">
            <h2>Please register:</h2>
            <form action="/student_register" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="first_name" class="col-sm-2 col-form-label">First Name:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="first_name">
                    </div>    
                </div>
                <div class="form-group row">
                    <label for="last_name" class="col-sm-2 col-form-label">Last Name:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="last_name">
                    </div>    
                </div>
                <div class="form-group row">
                    <label for="teacher" class="col-sm-2 col-form-label">Teacher:</label>
                    <div class="col-sm-5">    
                        <select name="teacher" class="form-control">
                            {% for teacher in all_teachers %}
                            <option value='{{teacher.id}}'>
                                {{teacher.title}} {{teacher.last_name}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>    
                </div>    
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" name="email">
                </div>    
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" name="password">
                </div>    
            </div>
            <div class="form-group row">
                <label for="confirm" class="col-sm-2 col-form-label">Confirm Password:</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" name="confirm_pw">
                </div>    
            </div>    
            <button id="s_new_button" class="btn" style="background-color: #ff5c0b;color: #fff;">Register</button>
            </form>    
    </div>
</body>
</html>