<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send a Message</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
        <a class="navbar-brand" style="font-size: 35px; font-weight: 600; color:#ff5c0b;" href="/"><img src="{% static 'images/Fido_logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a id="teacher_new_msg_back" class="nav-link btn btn-lg active" style="background-color: #ff5c0b; font-size: 25px; font-weight: 600; color: #fff;" href="/teacher_dashboard">Back</a>
                </li>    
                <li class="nav-item active">
                    <a class="nav-link btn btn-lg active" style="background-color: #ff5c0b; font-size: 25px; font-weight: 600; color: #fff;" href="/logout">Logout</a>
                </li>
          </ul>
        </div>
      </nav>
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="header">
            <h2 id="t_new_message_h2">Send a new message:</h2>
        </div>
        <div class="message_form">
            <form id="teacher_message" action="/teacher_add_message" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="to patient" class="col-sm-2 col-form-label">Send To:</label>
                    <div class="col-sm-5">    
                        <select name="student">
                            {% for students in teacher_students %}
                            <option value='{{students.id}}' class="form-control">
                                {{students.first_name}} {{students.last_name}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>    
                </div>  
                <div class="form-group row">
                    <label for="subject" class="col-sm-2 col-form-label">Subject:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="subject">
                    </div> 
                </div>
                <div class="form-group row">
                    <label for="message_content" class="col-sm-2 col-form-label">Message:</label>
                    <div class="col-sm-5">
                        <textarea name="message_content" id="message_content" class="form-control" rows="4" cols="50"></textarea>
                    </div> 
                </div>
                <button id="t_new_message_button" class="btn" id="s_sent_button" class="btn btn-lg"  style="background-color: #ff5c0b; font-weight: 600; color: #fff;">Send Message</button>
            </form>
        </div>
    </div>
</body>
</html>